<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.as.dieta">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="OBLICZ KALORIE I MAKRO" />
        <activity
            android:name=".PlanActivity"
            android:label="PLAN DIETY" />
        <activity
            android:name=".ProductsActivity"
            android:label="PRODUKTY" />
        <activity android:name=".DayActivity" />
        <activity android:name=".MealActivity" />
        <activity android:name=".FoodListActivity" />
        <activity android:name=".DniActivity" />
        <activity android:name=".PosilkiActivity" />
        <activity android:name=".MenuActivity" />

    </application>

</manifest>